<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Cupcakes</title>
</head>
<body>
  <h1>Cupcakes!</h1>
  <ul id="cupcake_data_list"></ul>
  <form id="cupcake_data_form">

    <label>Flavor: </label>
    <input type="text" id="flavor_input" required maxlength="50">

    <label>Rating: </label>
    <input type="number" id="rating_input" required min="1" max="10">

    <label>Size: </label>
    <input type="text" id="size_input" required maxlength="15">

    <label>Image URL: </label>
    <input type="url" id="image_input" required maxlength="500">

    <button type="submit">Submit</button>
  </form>


  <script src="https://unpkg.com/jquery"></script>
  <script src="/static/cupcakes.js"></script>
</body>
</html>